.btn{
    background-color: blueviolet;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content ul{
    padding-left: 0;
    list-style: none;
}
.dropdown-content a{
    color: beige;
    padding: 20px 28px;
    text-decoration: none;
    display: block;
}
    
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover.btn{
    background-color: #3e8e41;
}

#download{
    display: none;
}

#download.active{
    display: inline-block;
}